.change-password-otp-page {
  min-height: 100vh;
  background: #f8f8f8;
}

.change-password-otp-content {
  width: calc(100% - 32px);
  max-width: 343px;

  margin: 24px auto;

  background: #fff;
  border-radius: 16px;

  padding: 24px 20px;

  box-sizing: border-box;
}