@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap");

.password-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.password-input label {
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #202020;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  height: 56px;

  padding: 0 20px;

  border: 1px solid #D7E8FF;
  border-radius: 30px;

  background: #FFFFFF;

  outline: none;

  font-family: "Urbanist", sans-serif;
  font-size: 16px;

  box-sizing: border-box;

  transition: border .25s;
}

.password-wrapper input:focus {
  border-color: #1789FC;
}

.password-wrapper input::placeholder {
  color: #A8A8A8;
}

.toggle-password {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);

  border: none;
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  color: #7A7A7A;
}

.toggle-password:hover {
  color: #1789FC;
}