@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap");

.auth-error {
  margin-top: 8px;
  margin-bottom: 10px;

  color: #E53935;

  font-family: "Urbanist", sans-serif;
  font-size: 13px;
  font-weight: 500;

  text-align: center;
}

/* Overlay */

.success-overlay {
  position: fixed;
  inset: 0;

  background: rgba(1, 1, 1, 0.65);

  display: flex;
  justify-content: center;
  align-items: flex-end;

  z-index: 999;
}

/* Bottom Sheet */

.success-modal {
  width: 100%;
  max-width: 500px;

  background: #FFFFFF;

  border-radius: 32px 32px 0 0;

  padding: 32px 24px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  animation: slideUp .35s ease;
}

/* Success Image */

.success-icon {
  width: 80px;
  height: 100px;

  object-fit: contain;

  margin-bottom: 18px;
}

/* Title */

.success-modal h2 {
  margin: 0;

  font-family: "Urbanist", sans-serif;
  font-size: 22px;
  font-weight: 700;

  color: #202020;

  text-align: center;
}

/* Description */

.success-modal p {
  width: 375px;

  margin: 12px 0 28px;

  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  text-align: center;

  color: #13101066;
}

.password-card {
  background: #fff;
  border-radius: 22px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 22px;

  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.04);
}

.password-error {
  margin: -8px 0 0;
  color: #e53935;
  text-align: center;
  font-size: 13px;
  font-family: "Urbanist", sans-serif;
}

.password-title {
   margin-top: 20px;
  margin-bottom: 24px;

}

.password-title-row {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-left: 12px;
}

.password-title-row h2 {
  margin: 0;

  font-family: "Urbanist", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #202020;
}

.password-lock-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}
/* Animation */

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}