@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap");

.logo {
    width: 160px;
    height: 348px;
    position: absolute;
    inset: 0;
    margin: auto;
    transform: translateY(-200px);
  
}